<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


   <h1>Team name: <%= @name %></h1>
   <h2>Coach: <%= @coach %></h2>
   <h2>Point Guard: <%= @pg %></h2>
   <h2>Shooting Guard: <%= @sg %></h2>
   <h2>Power Forward: <%= @pf %></h2>
   <h2>Small Forward: <input type="text" name="sf"></h2>
   <h2>Center: <input type="text" name="c"></h2>

   <h1><%= @name %></h1>
   <h2><%= @coach %></h2>
   <h2><%= @pg %></h2>
   <h2><%= @sg %></h2>
   <h2><%= @pf %></h2>
   <h2><%= @c %></h2>

 </body>
</html>
